
.Register-model {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.britannica.com/54/187354-050-BE0530AF/Facebook-Founder-CEO-Mark-Zuckerberg-email-messaging-system-St-Regis.jpg");
}

.Register-model-content {
  width: 400px;
  padding: 30px;
  background-color: #5b8389;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Register-signup-title {
  font-size: 24px;
  font-weight: bold;
}

.close {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.close:hover {
  color: #000;
}

.Register-input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.Register-input:focus {
  outline: none;
  border-color: #007bff;
}

.Register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Register-button:hover {
  background-color: #0056b3;
}
